.article p {
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
  margin-bottom: 1.3rem;
}

.article li {
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
}

.article code {
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
}

.article blockquote {
   font-size: 1.0em;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.article h1 {
  margin-top: 0;
  font-size: 4.0rem;
}

.article h2 {
  font-size: 3.0rem;
}

.article h3 {
  font-size: 2.0rem;
}

.article h4 {
  font-size: 1.5rem;
}

.article h5 {
  font-size: 1.2rem;
}

.article h6 {
  font-size: 1.0rem;
}

.article small {
  font-size: .778em;
}
